{
  "printWidth": 150,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "always",
  "proseWrap": "preserve",
  "endOfLine": "lf",
  "quoteProps": "as-needed",
  "embeddedLanguageFormatting": "auto",
  "jsxSingleQuote": true,
  "bracketSameLine": false,
  "jsxBracketSameLine": false,
  "multiline": true,
  "overrides": [
    {
      "files": ["*.js", "*.ts"],
      "options": {
        "printWidth": 150,
        "tabWidth": 2,
        "singleQuote": true,
        "trailingComma": "all",
        "semi": true
      }
    }
  ]
}
